/* HEADER ==============================*/
.header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 93px;
   font-size: 18px;
   line-height: 21.13px;
   margin-right: 30px;
}

.menu__list {
   display: flex;
}

.menu__item {
   margin-right: 32px;
}

.menu__item:nth-child(1) {
   list-style: none;
   text-decoration: none;
}

.menu__item:nth-child(1) a {
   list-style: none;
   text-decoration: none;
}

.header__logo {
   width: 148px;
   height: 105px;
   margin-right: 184px;
   padding: 5px;
}

.contacts {
   display: flex;
   flex-direction: column;
}

.contacts__tel {
   cursor: pointer;
   text-decoration: underline;
}

.contacts__email {
   text-decoration: underline;
}

/* ПЕРВЫЙ БЛОК ================================*/
.prevew {
   background: url(../images/cover.jpg) 50% / cover no-repeat;
   margin: 96px 0px 159px 0px;
   padding-bottom: 62px;
}

.prevew__title {
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 25px;
   font-size: 100px;
   padding-top: 170px;
   padding-right: 80px;
}

.prevew__title span {
   display: block;
}

.prevew__title span:nth-child(1) {
   margin-left: 100px;
}

.title-center {
   text-align: center;
}

.title-right {
   text-align: right;
}

.prevew__bet {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-transform: uppercase;
   color: #fff;
   padding: 135px 50px 0px 50px;
   font-size: 22px;
}

.prevew__text {
   letter-spacing: 3px;
}

.prevew__btn {
   border: 1px solid #fff;
   padding: 12px 32px;
   font-size: 22px;
   color: #fff;
   background: transparent;
   cursor: pointer;
}

.prevew__btn:hover {
   transition: all 0.2s;
   border: 1px solid rgb(2, 245, 71);
}

/* ВТОРОЙ БЛОК ================================ */
.lots__title {
   font-size: 40px;
   padding: 0 0 20px 65px;
}

.lots__card {
   display: grid;
   grid-template-columns: repeat(3, 334px);
   justify-content: space-around;
}

.card__one {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: url(../images/card-lot-01.jpg) 50% / cover no-repeat;
}

.card__two {
   background: url(../images/card-lot-02.jpg) 50% / cover no-repeat;
}

.card__three {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: url(../images/card-lot-03.jpg) 50% / cover no-repeat;
}

.card__item {
   padding: 40px;
   height: 563px;
   width: 334px;
}

.card__title {
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: #fff;
   text-transform: uppercase;
   text-decoration: underline;
}

.card__text {
   font-size: 18px;
   color: #fff;
}

.card__more {
   font-size: 22px;
   cursor: pointer;
   margin-top: 30px;
   margin-left: 46px;
   margin-bottom: 146px;
   background-color: transparent;
   border: 0;

   text-decoration: underline;
}

/* ТРЕТИЙ БЛОК ================================= */

.auction__title {
   display: flex;
   align-items: center;
   font-size: 40px;
   font-weight: 700;
}

.auction__logo {
   text-align: center;
   width: 240px;
   height: 240px;
   background-color: #000;
   border-radius: 50%;
   margin-top: 35px;
   background: #000;
   margin-left: 71px;
}

.auction__logo img {
   width: 148px;
   height: 114px;
   margin-top: 65px;
}

.auction__text {
   line-height: 24px;
   padding-top: 100px;
   flex: 0 1 66.666%;
}

.auction__about {
   padding-left: 72px;
   padding-top: 55px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 40px;
}

.auction__subtitle {
   display: flex;
   flex-direction: column;
   padding-left: 383px;
   padding-right: 24px;
}

.auction__subtitle p {
   margin: 15px 0px 24px 0px;
   text-align: justify;
   font-size: 18px;
   line-height: 24px;
}

/* FOOTER ================================== */
.footer {
   display: flex;
   justify-content: space-between;
   padding-top: 171px;
   margin-left: 50px
}


.menu__item-footer {
   list-style: none;
   text-decoration: none;
}

.contacts-footer {
   display: flex;
   flex-direction: column;
   cursor: pointer;
}


.menu__item-footer-clean:nth-child(1) a {
   list-style: none;
   text-decoration: none;
}


.menu__list-footer {
   text-align: center;
}

.network__icon {
   display: flex;
   justify-content: space-between;
}

.icon {
   width: 48px;
   margin: 0 24px;
}